![GEORGIAN COLLEGE](GeorgianCollgeLogo.png)
<h2><font color='#004b87'><center>PROBLEM SET 1</center></font></h2>
<h3><font color='#004b87'><center>BDAT 1004 - DATA PROGRAMMING</center></font></h3>
<h3><font color='#004b87'><center>STUDENT'S NAME: DAVID OWOPETU</center></font></h3>
<h3><font color='#004b87'><center>STUDENT'S ID: 200573602</center></font></h3>
<h3><font color='#004b87'><center>Winter Semester - 2024</center></font></h3>
<hr>

### Question 1 <br>
Consider the following Python module: <br>
a = 0 <br>
def b(): <br>
global a <br>
a = c(a) <br>
def c(a): <br>
return a + 2 <br>
After importing the module into the interpreter, you execute: <br>
`>>> b()` <br>
`>>> b()` <br>
`>>> b()` <br>
`>>> a` <br>
`?` <br>
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [31]:
# Solution to Question 1

a = 0   # a references a global variable whoch is zero
def b():
    global a   
    a = c(a)
def c(a):
    return a + 2

#Execute the code
b() # returns a = 2 
b() # returns a = 4 
b() # returns a = 6 
a   # Finally, a = 6

# Explanation:

# The first function b() calls a function c(a) which return 0 + 2
# The second function b() calls a function c(a), whereby a has become 2, which return 2 + 2 = 4
# The third function b() calls a function c(a), whereby a has become 4, which return 4 + 2 = 4
# Finally, the function a is 6

6

### Question 2 <br>
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: <br>
`>>> fileLength('midterm.py')` <br>
284 <br>
`>>> fileLength('idterm.py')` <br>
`Traceback (most recent call last):` <br>
`File "<pyshell#34>", line 1, in <module>`<br>
`fileLength('idterm.py')`<br>
`File "/Users/me/midterm.py", line 3, in fileLength` <br>
`infile = open(filename) FileNotFoundError:` <br>
`[Errno 2] No such file or directory: 'idterm.py'` <br>

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: <br>
`>>> fileLength('midterm.py') 358` <br> 
`>>> fileLength('idterm.py') File idterm.py not found.`

In [37]:
# Solution to Question 2

def fileLength(fileName):
    try:
        infile = open(fileName)
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print(f"File {fileName} not found.")
fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py not found.
File idterm.py not found.

### Question 3 

Write a class named Marsupial that can be used as shown below: <br>
`>>> m = Marsupial()` <br> 
`>>> m.put_in_pouch('doll')`<br> 
`>>> m.put_in_pouch('firetruck')`<br> 
`>>> m.put_in_pouch('kitten')`<br>
`>>> m.pouch_contents()`<br>
`['doll', 'firetruck', 'kitten']`<br>

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: <br>

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, <br>
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and <br>
c. overloads the __str__ operator so it behaves as shown below.<br>

`>>> k = Kangaroo(0,0)`<br>
`>>> print(k)` <br>
`I am a Kangaroo located at coordinates (0,0)` <br>
`>>> k.put_in_pouch('doll')` <br>
`>>> k.put_in_pouch('firetruck')`
`>>> k.put_in_pouch('kitten')`<br>
`>>> k.pouch_contents() ['doll', 'firetruck', 'kitten']`<br>
`>>> k.jump(1,0) >>> k.jump(1,0)`<br>
`>>> k.jump(1,0)`<br>
`>>> print(k)`<br>
I am a Kangaroo located at coordinates (3,0)

In [38]:
# Solution to Question 3

class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Test cases
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: <br>
x = { ùë•/2       iùëì ùë• ùëñùë† even <br> 
    { 3x + 1    ùëñùëì ùë• ùëñùë† ùëúùëëùëë<br>
    
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
`>>> collatz(1)` <br>
1 <br>
`>>> collatz(10)` <br>
10 <br>
5 <br>
16 <br>
8 <br>
4 <br>
2 <br>
1 <br>

In [39]:
# Solution to Question 4

def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

# Test cases
collatz(1)
print()
collatz(10)

1

10
5
16
8
4
2
1

### Question 5 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. <br>
`>>> binary(0)` <br> 
0 <br> 
`>>> binary(1)` <br> 
1 <br> `>>> binary(3)`<br>
11<br>
`>>> binary(9)` <br>
1001 <br>

In [49]:
def binary(p_numbers):
    if p_numbers == 0:
        return '0'
    elif p_numbers == 1:
        return '1'
    else:
        return binary(p_numbers // 2) + str(p_numbers % 2)

# Execute the function above using test cases
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

### Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html. <br>

`>>> infile = open('w3c.html')` <br>
`>>> content = infile.read()` <br>
`>>> infile.close()`<br>
`>>> hp = HeadingParser()`<br>
`>>> hp.feed(content)`<br>
W3C Mission <br>
Principles

In [68]:
# Solution to Question 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h1'):
            self.in_heading = True
            self.indentation = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if tag.startswith('h2'):
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * self.indentation + data)

# Execute the function above
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

### Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. <br>
`>>>` <br>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html<br>
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html<br>
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html<br>
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [69]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth < 0:
        return
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        print(' ' * indent + url)
        if depth > 0:
            links = soup.find_all('a')
            for link in links:
                new_url = link.get('href')
                if new_url.startswith('http'):
                    webdir(new_url, depth - 1, indent + 4)
    except Exception as e:
        print(f"Error accessing URL: {url}")

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

### Question 8

Write SQL queries on the below database table that return: <br>
a) All the temperature data. <br>
b) All the cities, but without repetition. <br>
c) All the records for India. <br>
d) All the Fall records. <br>
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. <br>
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. <br>
g) The total annual rainfall for Cairo. <br>
h) The total rainfall for each season. <br>
![GEORGIAN COLLEGE](Table_Que8.png)

In [1]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect(':memory:')  # Use in-memory database for demonstration
cursor = conn.cursor()

# Create the weather table and insert data
cursor.execute('''CREATE TABLE weather (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature REAL,
                    Rainfall REAL
                )''')

# Sample data
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

# a) All the temperature data
cursor.execute('SELECT Temperature FROM weather')
temperature_data = cursor.fetchall()
print("Temperature data:", temperature_data)

Temperature data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [2]:
# b) All the cities, but without repetition
cursor.execute('SELECT DISTINCT City FROM weather')
cities = cursor.fetchall()
print("Cities:", cities)

Cities: [('Mumbai',), ('London',), ('Cairo',)]

In [3]:
# c) All the records for India
cursor.execute("SELECT * FROM weather WHERE Country = 'India'")
india_records = cursor.fetchall()
print("Records for India:", india_records)

Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [4]:
# d) All the Fall records
cursor.execute("SELECT * FROM weather WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("Fall records:", fall_records)

Fall records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [5]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute('''SELECT City, Country, Season
                FROM weather
                GROUP BY City, Country, Season
                HAVING AVG(Rainfall) BETWEEN 200 AND 400''')
rainfall_avg_200_400 = cursor.fetchall()
print("City, country, and season with avg rainfall between 200 and 400 mm:", rainfall_avg_200_400)

City, country, and season with avg rainfall between 200 and 400 mm: [('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

In [6]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute('''SELECT City, Country
                FROM weather
                WHERE Season = 'Fall'
                GROUP BY City, Country
                HAVING AVG(Temperature) > 20
                ORDER BY AVG(Temperature) ASC''')
fall_avg_temp_above_20 = cursor.fetchall()
print("City and country with avg Fall temp above 20¬∞C, in increasing temperature order:", fall_avg_temp_above_20)

City and country with avg Fall temp above 20¬∞C, in increasing temperature order: [('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [7]:
# g) The total annual rainfall for Cairo
cursor.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM weather WHERE City = 'Cairo'")
cairo_total_rainfall = cursor.fetchone()[0]
print("Total annual rainfall for Cairo:", cairo_total_rainfall)

Total annual rainfall for Cairo: 27.6

In [8]:
# h) The total rainfall for each season
cursor.execute('''SELECT Season, SUM(Rainfall) AS TotalRainfall
                FROM weather
                GROUP BY Season''')
total_rainfall_season = cursor.fetchall()
print("Total rainfall for each season:", total_rainfall_season)

Total rainfall for each season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

In [9]:
# Close the cursor and connection
cursor.close()
conn.close()

### Question 9

Suppose list words is defined as follows: <br>
`>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']`<br>
Write list comprehension expressions that use list words and generate the following lists:<br>
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']<br>
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']<br>
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).<br>
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)<br>
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [70]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Print Uppercase words
UpperCaseWords = [word.upper() for word in words] 
print(UpperCaseWords)

# Print Lowercase words
UpperCaseWords = [word.lower() for word in words]
print(UpperCaseWords)

# the list of lengths of words in list words
WordLengths = [len(word) for word in words]
print(WordLengths)

word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

long_words = [word for word in words if len(word) >= 4]
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']